version: '3.8'

services:
  db:
    image: postgres:15
    container_name: magalu_db
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5433:5432" 

  redis:
    image: redis:alpine
    container_name: magalu_redis
    ports:
      - "6379:6379"

  web:
    build: .
    container_name: magalu_api
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - redis
      - db
    environment:
      - CELERY_BROKER_URL=${CELERY_BROKER_URL}
      - DB_HOST=${DB_HOST}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_PORT=${DB_PORT}

  worker:
    build: .
    container_name: magalu_worker
    command: python -m celery -A setup worker --loglevel=info
    volumes:
      - .:/app
    depends_on:
      - redis
      - web
      - db
    environment:
      - CELERY_BROKER_URL=${CELERY_BROKER_URL}
      - DB_HOST=${DB_HOST}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_PORT=${DB_PORT}

volumes:
  postgres_data: